
.close-btn{
    position: absolute;
    top: 58px;
    height: 50px;
    width: 50px;
    left: 88%;
    color: white;
}

.close-btn button{
    width: 100%;
    cursor: pointer;
    background-color:transparent;
    padding: 10px;
}

.close-btn button img{
    color: #000;
    height: 90%;
    cursor: pointer;
    width: 100%;
    z-index: 7;
}

.if {
    position: absolute;
    top: 15%;
    left: 40%;
    z-index: 799;
    height: calc(100vh - 30%);
    max-width: 1000px;
    margin: auto;
    margin-left: -300px;
    /* padding: 20px; */
    width: 100%;
}